topology PP:basic{
        "public" -> "public",
        "private" -> "private",
        "public" -> "private"
}

pg output {
        file : "stdout"
        tag = "PP.public"
}
