topology PP : linear
	"public", "private"

topology Confidentiality : linear
    "public", "confidential", "secret", "topsecret"

pg out {
	file : "stdout"
	tag = "PP.public"
}