topology PP : linear
	"public", "private"

topology Confidentiality : linear
    "public", "confidential", "secret", "topsecret"

topology Together : expr
	PP * Confidentiality

pg out {
	file : "stdout"
	tag = "PP.public"
}